<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Нагадування паролю</title>
</head>
<body>
<div>
    <h4><span th:text="${head}"></span></h4>
    <p>Вітаємо, Ваш пароль в системі документообігу:</p>
    <p>
        <br> <h4><span th:text="${text}"></span></h4>
<!--        <a th:href="${link}"><span th:text="${link}"></span></a>-->
    </p>
    <p>Тримайте свій пароль у таємниці та завжди дотримуйтесь інструкцій вашого керівництва.</p>

    <p>Гарного дня!</p>
</div>
</body>
</html>