<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
</head>
<body>
<div>
    <h4><span th:text="${head}"></span></h4>
    <p>
        <span th:text="${text}"></span>
    </p>
<!--    <p>-->
<!--        In order to be permitted access, please follow the following link and set yourself a password:-->
<!--        <br> <a th:href="${link}"><span th:text="${link}"></span></a>-->
<!--    </p>-->

<!--    <p>Keep your password secret and always follow the instructions of your guide.</p>-->

    <p>Good luck!</p>
</div>
</body>
</html>