<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Вітаємо!</title>
</head>
<body>
<div>
    <h4><span th:text="${head}"></span></h4>
    <p>
        Вітаємо Вас в системі документообігу.
    </p>
    <p>
        Для входу в систему перейдіть за посиланням ...
        <br> Пароль від вашого облікового запису: <h4><span th:text="${text}"></span></h4>
    </p>

    <p>Тримайте свій пароль у таємниці та завжди дотримуйтесь інструкцій вашого керівництва.</p>

    <p>Гарного дня!</p>
</div>
</body>
</html>